# Ignore everything
*

# But don't ignore directories
!*/

# But don't ignore .gitignore
!/.gitignore

# Don't ignore this specific directory and its contents
!/Game-00/Assets/
!/Game-00/Assets/Code/**
